/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #80c1f9, #e6f7f7);
}

.qcontainer {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 15px;
    padding-left: 10px;
}

.container {
    width: 1200px;
    height: 675px;
    background-color: white;
    border: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;

    text-align: center;
}

.container2 {
    width: 215px;
    height: 675px;
    background-color: rgb(255, 60, 60);
    border: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    align-self: right;

    text-align: center;
    margin-left: 10px;
}

.container h1 {
    font-size: 1.5rem;
    color: #333;
}

.container p {
    font-size: 1rem;
    color: #555;
}

#Bigtext {
    font-family: "Sour Gummy", sans-serif;
    font-size: 100px;
    text-shadow: 2px 2px 2px #80c1f9;
}



.icon-image {
    width: 150px;
    /* Set a specific width for the image */
    height: auto;
    /* Maintain the image's aspect ratio */
    border-radius: 15px;
    /* Optional: adds rounded corners */
    border: black;
    border-style: solid;
    background-color: #e2eef8;
}